apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    additionalArguments:
      - "--api"
      - "--api.dashboard=true"
      - "--api.insecure=true"
      - "--log.level=DEBUG"
      - "--entryPoints.web.transport.respondingTimeouts.readTimeout=36000s"
      - "--entryPoints.web.transport.respondingTimeouts.writeTimeout=36000s"
      - "--entryPoints.web.transport.respondingTimeouts.idleTimeout=36000s"
      - "--entryPoints.websecure.transport.respondingTimeouts.readTimeout=36000s"
      - "--entryPoints.websecure.transport.respondingTimeouts.writeTimeout=36000s"
      - "--entryPoints.websecure.transport.respondingTimeouts.idleTimeout=36000s"
