repoServer:
  resources:
    limits:
      cpu: "1000m"
      memory: "1024Mi"
    requests:
      cpu: "200m"
      memory: "128Mi"
controller:
  resources:
    limits:
      cpu: "1000m"
      memory: "512Mi"
    requests:
      cpu: "250m"
      memory: "256Mi"
  extraArgs:
  - --application-namespaces=*
server:
  insecure: true
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
      traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
      traefik.ingress.kubernetes.io/router.tls.certresolver: "duckdnsresolver"
    hostname: argo.iwal.duckdns.org
    path: /
    pathType: Prefix
    extraTls:
      - hosts:
        - argo.iwal.duckdns.org
        secretName: argo-test-cert
configs:
  params:
    server.insecure: true